<!DOCTYPE html>
{% load static %}
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <title>WATCHA Tools</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tools/style.css' %}">
</head>
<body>
    <div class="home-inner">
        <h1 class="home-title">Image Downloader<span> for WATCHA</span></h1>
        <form method="POST" action="/download">
            {%csrf_token%} {{form.as_p}}
            <p><label for="url">이미지의 URL 주소를 입력하세요<br></label></p>
            <input id="url" name="url" type="text" size="100" style="padding: 3px 0px">
            <p></p>
            <a href="{{download_image}}"><button class="submit-btn" name="download" type="submit">Download</button></a>
        </form>
    </div>
</body>
</html>