/.media
/.static
secrets.json
*.png
*.cpython-36.pyc
ubuntuServer/service/__pycache__/*
ubuntuServer/service/__pycache__/*.*
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
*.pyc
*.pyc
__pycache__
/media
/static
db.sqlite3
