/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

h1{
  color:#000000;
  font-family: "Roboto",sans-serif;
}



/*--------------------*/
/* Home */
/*--------------------*/

.home-inner {
  text-align: center;
}


.home-title{
}

.home-title .span {
  font-weight:500;
  font-size:24px
}

.home-title .p {
    margin-bottom:7px;
}

.submit-btn{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  background-color: #ff2f6e;
  color:#fff;
  font-size:15px;
  border-radius:5px;
  padding: 10px 30px;
}